.header{
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
}
.logo{
  width: 200px;
}
.nav-items{
  padding: 0 20px ;
}
.nav-items ul{
  font-size: 24px;
  display: flex;
  list-style-type: none;
  padding: 0 20px ;
}
.nav-items ul li{
  padding: 10px;
  margin: 10px;
}
.res-card{
  padding: 5px;
  width: 200px;
  height: 320px;
}
.res-card:hover{
  border: 1px solid black;
  cursor: pointer;
}
.res-card h4 {
  overflow-wrap: break-word; 
}.res-container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}
.serch{
  padding:10px ;
}
.res-logo{
  width: 100%;
}
.filter-btn{
  margin: 10px;
  cursor: pointer;
}